.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
